:host {
  .page-title {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .cities-list {
    max-width: 600px;
    margin: 0 auto 150px auto;
  }
}
