@mixin scrollbar() {
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    background: #999;
    border-radius: 20px;
  }
}
